{% extends 'base.html' %} {% block main %}
<div class="flex flex-col justify-center items-center h-[50%] mt-6">
  <!-- component -->
  <div
    class="w-64 border b-gray-400 rounded flex flex-col justify-center items-center text-center p-6 bg-white"
  >
    <div class="text-md font-bold flex flex-col text-gray-900">
      <span class="uppercase text-2xl">{{ location }}</span>
    </div>
    <div class="w-32 h-32 flex items-center justify-center">
      <img
        src="static/icons/{{ icon }}.png"
        alt="current temperature icon"
      />
    </div>
    <p class="text-gray-700 mb-2">{{ description }}</p>
    <div class="text-3xl font-bold text-gray-900 mb-6">{{ temp }}ºC</div>
    <div class="flex justify-between w-full">
      <div class="flex items-center text-gray-700 px-2">
        <svg
          class="mr-2 h-4"
          viewBox="0 0 11 18"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          title="Humidity"
        >
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="Desktop-HD"
              transform="translate(-120.000000, -479.000000)"
              fill="#60A2D7"
              fill-rule="nonzero"
            >
              <g id="Group" transform="translate(95.000000, 222.000000)">
                <g id="Group-3" transform="translate(25.000000, 256.774194)">
                  <g id="028-drop" transform="translate(0.000000, 0.225806)">
                    <path
                      d="M11,11.9334341 C11,15.0552582 8.53750272,17.5862069 5.5,17.5862069 C2.46249728,17.5862069 0,15.0552582 0,11.9334341 C0,7.58026159 5.5,0 5.5,0 C5.5,0 11,7.58026159 11,11.9334341 L11,11.9334341 Z"
                      id="Path"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        {{ humidity }}%
      </div>
      <div class="flex items-center text-gray-700 px-2">
        <img
          src="static/images/pressure.png"
          alt="pressure"
          class="h-6 w-6"
          title="Atmospheric Pressure"
        />
        {{ pressure }} hPA
      </div>
    </div>
  </div>
  {% endblock %}
</div>
